<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.urlimport.90965038-F93A-4DDC-8EEC-C38DD31A4A57</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.90965038-F93A-4DDC-8EEC-C38DD31A4A57</string>
</dict>
</plist>
