<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.FB44C615-7E58-4213-9D34-FBA1AC4F6A0C</string>
	<key>lightthemeuid</key>
	<string>theme.custom.308DCE78-38D0-44EB-A3A5-83F851860ACD</string>
</dict>
</plist>
